head{
    background-color: darkslateblue;
    height: 200px;
    width: 80%;
    min-width: 400px;
}
h1{
    background-color: darkslateblue;
    color: white;
    height: 100%;
    padding: 20px 10px;
    margin: 40px 10px;
    text-align: center;
    border: dotted white;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  ul li{
    float: left;
  }
  ul li a{
    display: block;
    color: darkslateblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  ul li a:hover{
    background-color: gray;
  }