head{
  height: 200px;
}
h1{
  color: maroon;
}
img{
  height: 240px;
  position: center;
}
ul{
  list-style-type: none;
}
nav ul li{
  color: black;
  font-family: helvetica;
}
body{
  background-color: gainsboro;
}
p{
  font-family: Arial;
  font-size: 18px;
  color: rgb(73, 72, 72);
}
footer{
  text-align: center;
}
