head{
  height: 200px;
  text-align: center;
}
h1{
  color: maroon;
}
img{
  height: 240px;
  position: center;
}
ul{
  list-style-type: none;
}
li a{
  display: inline-block;
  width: 60px;
}
li a:hover{
  color: white;
}
body{
  background-color: gainsboro;
}
p{
  font-family: Arial;
  font-size: 18px;
  color: rgb(73, 72, 72);
}
footer{
  text-align: center;
}
