head{
    background-color: darkslateblue;
    height: 200px;
    width: 80%;
    min-width: 400px;
}
h1{
    background-image: url("header.jpg");
    color: black;
    height: 100%;
    padding: 40px 10px;
    margin: 0px;
    text-align: center;
    border: solid black;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  ul li{
    float: left;
    width: 25%;
  }
  ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 20px 40px;
    background-color: gray;
    text-decoration: none;
  }
  ul li a:hover{
    background-color: rgb(8, 3, 77);
    color: white;
  }
  body{
      background-color: darkslateblue;
      background-image: url(space.jpg);
      background-repeat: repeat-x;
      background-attachment: fixed;
      max-width: 800px;
      min-width: 400px;
      margin: auto;
  }
  .body{
      background-color: whitesmoke;
      background-image: url(header.jpg);
      padding: 40px;
  }
  p{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
  }
  image{
      width: 240px;
    }